matplotlib>=3.10			  # grafiquitas veah!!
numpy>=2.2			  # para shit numerica
pandas>=1.3			  # para tablitas cool
scipy>=1.7			  # para modulos de estadistica
sympy>=1.13			  # para calculo simbolico
nbconvert>=7.16		# para exportar notebooks
